<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="WhiteboxFramework">

	<listeners>
		<listener class-name="com.whiteboxframework.utilities.Reporting" />
	</listeners>
	
	<test name="WhiteboxFramework">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.whiteboxframework.testCases.TC_LoginTest001" />
				 <!--<class name="com.whiteboxframework.testCases.TC_HomePage002" />-->
				 <!-- <class name="com.whiteboxframework.testCases.TC_SchedulePageTest003" />-->
		</classes>

	</test>

</suite>
